<appSettings>
  <add key="isTesting" value="True" />
  <add key="LDAPDomain" value="zone3.scb.net" />
  <add key="LDAPUrl" value="zone3.scb.net" />

  <add key="DB2Connection" value="DSN=NPEBBS;UID=npebsint;PwD=Uh3jND4ow"/>
	
  <add key="Browse" value="D:\Resources files for IT Smart Solutions\Application\NCHLMVC\NCHL.UI\NCHL.UI\Uploads\"/>
  <add key="SaveTo" value="D:\Resources files for IT Smart Solutions\Application\NCHLMVC\NCHL.UI\NCHL.UI\Uploads"/>
  <add key="SaveCsvTo" value="D:\Resources files for IT Smart Solutions\Application\NCHLMVC\NCHL.UI\NCHL.UI\Uploads"/>
	
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
