<connectionStrings>
 <add name="DB2Connection" connectionString="DSN=NPEBBS; UID=npebsint; PWD=Uh3jND4ow;" />
 <add name="myconnection" connectionString="data source=103.180.240.24,8189; initial catalog=ChequePrintSCB; User Id=sa; Password=WKmTmR4NhylEBc3yIQsKgIR1lGaXpxtubaIIUte85m4=; MultipleActiveResultSets=True;"
  providerName="System.Data.SqlClient" />

</connectionStrings>

